BODY {
	margin: 0;
	padding: 10px;
	font-family: lucida grande, sans-serif;
	font-size: 13px;
	color: #000;
}

PRE {
	font-family: Fixedsys, Monaco, Courier;
	font-size: 9pt;
	padding: 2px 0 2px 7pt;
	border-left: 5px solid #d2f2f1;
	margin-left: 40px;
	color: #003f3f;
	background: #faffff;
	overflow: auto;
	width: 90%;
 }

CODE, TT {
	font-family: Fixedsys, Monaco, Courier;
	font-size: 9pt;
	color: #8F1D00;
 }

H1.title {
	margin-top: 0px;
	font-size: 18px;
	border: none;
}

H1 {
	font-size: 15px;
	border-bottom: 1px solid #aaa;
	margin-top: 20px;
}

H2 {
	font-size: 14px;
	margin-left: 20px;
	margin-top: 20px;
}

H3 {
	font-size: 13px;
	margin-left: 20px;
}

P {
	text-indent: 20px;
}

A, A:hover, A:visited {
	color: #000;
	text-decoration: none;
	text-transformation: none;
	border-bottom: 1px dashed #aaa;	
}
